*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

input:focus-visible {
  outline: none;
}

.content {
  margin: auto;
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-self: end;
}

.result {
  width: 711px;
  align-self: end;
  justify-self: start;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 711px;
  max-height: 100%;
}

.search-form {
  margin-top: 16px;
  width: 711px;
  display: grid;
  grid-template-columns: 225px 212px 194px;
  column-gap: 40px;
}

.search-form__fieldset {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-style: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  width: fit-content;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  text-align: start;
  background: transparent;
  font-size: 18px;
  color: #fff;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  cursor: pointer;
  display: flex;
  width: 212px;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-color: #1b1919;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

input[type="checkbox"]:checked + span {
  width: 19px;
  height: 19px;
  background-color: #fff;
  outline: 1px solid #1b1919;
  outline-offset: -2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  background: transparent;
  border: 1px solid currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  margin-top: auto;
  width: 194px;
  height: 34px;
}

.content__details {
  min-width: 395px;
}

.title {
  width: 260px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  margin-top: 26px;
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 35px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  min-width: 203px;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  padding-top: 3px;
  gap: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.more-button {
  width: 100%;
  height: 34px;
}
